<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Browse Music</title>
</head>
<body>
  <h1>Browse Music</h1>
  <form action="/searchSong" method="GET">
    <input type="text" name="genre" placeholder="Genre">
    <input type="number" name="rating" placeholder="Rating Threshold">
    <input type="text" name="artist" placeholder="Artist">
    <input type="submit" value="Search">
  </form>

 <ul>
  {% for line in posts %}
<table>
    <li>song: {{line.title}}</li>
  <tr>
    <td>artist: {{line.artist}}</td>
</tr>
</table>
  {% endfor %}
  </ul>
</body>
</html>
