<html>
<head>
</head>
<body>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>


<table>
	<th>Current Friend Request:</th>
<br>
{% for line in posts %}
	<tr>
		<td>{{line.requestSentBy}}</td>
	</tr>
{% endfor %}
</table>

<br>
<br>
<br>



<form action="/submit-data" method="POST">
    <label for="input-box">Accept or Reject Request:</label> <br>
	<br>
	<select name="input-data">
		<option value="input-data">-- Select a user --</option>
		{% for line in posts %}
		  <option value="{{line.requestSentBy}}">{{line.requestSentBy}}</option>
		{% endfor %}
	  </select>
  
    <button type="submit" name="submit-btn" value="Accepted">Accept</button>
    <button type="submit" name="submit-btn" value="Not accepted">Reject</button>
  </form>
<br>
<br>
<br>
<a href="/home">Home</a>
<br>
<a href="/logout">Logout</a>

</body>


</html>
